* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.tema{
  font-size: 40px;
}
.q{
    width: 100%;
    object-fit: cover;
    height: 75vh;
    display: block;
}
.text{
  margin: 0 20px;
}
.t{
  margin:  20px;
  margin-left: 50px;
  font-size: 20px;
}
.img{
  float: left;
}

.img-holder {
    position: relative;
    margin-top: 16px;
  }
.snaiper{
    font-weight: 600;
    font-size: 70px;
    color: #000000;  
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;    
}


.container {
  display: inline-block;  
  margin:  50px 50px;
}


/* HEADER */
.header {
  background-color: #033914;
  width: 100%;
}
.course-row {
    display: flex;
    border-radius: 50px;
  }
  
  /*Адаптация сайта.*/
  @media (max-width: 1120px ){
    .container{
      padding: 0 20px;
    }
  }
  @media (max-width: 992px ){
    
  }
   
  @media (max-width: 578px ){
    .a{
      height: 200px;
      margin: 0;
    }
    .p{
      margin: 0;
    }
  }