* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.w{
  justify-content: flex-end;
}
.tema{
  font-size: 40px;
}
.kvadrat_0 {
  width: 100%;  
  height: 100%;  
  background: rgb(255, 111, 111);   
  text-align: center;
  border-radius: 10px;
  }
.q{
    width: 100%;
    object-fit: cover;
    height: 75vh;
    display: block;
}
.text{
  margin: 0 20px;
}
.t{
  margin:  20px;
  margin-left: 50px;
  font-size: 20px;
  color: black;
}
.img{
  float: right;
}
.img_1{
  float: left;
}
.img-holder {
    position: relative;
    margin-top: 16px;
  }
.snaiper{
   font-weight: 600;
    font-size: 70px;
    color: #000000;  
    display: flex;
    justify-content: space-evenly;    
}


.container {
  display: inline-block;  
  margin:  50px 50px;
}


/* HEADER */
.header {
  background-color: #033914;
  width: 100%;
}
.course-row {
    display: flex;
    border-radius: 50px;
  }
  
  /*Адаптация сайта.*/
  @media (max-width: 1120px ){
    .container{
      padding: 0 20px;
    }
    .q{
      width: 1120px;
    }
  }
  @media (max-width: 992px ){
    .header {
      width: 992px;
    }
    .q{
      width: 992px;
    }
  }
   
  @media (max-width: 578px ){
    .a{
      height: 200px;
      margin: 0;
    }
    .q{
      width: 578px;
    }
    .p{
      margin: 0;
    }
    .header {
      width: 578px;
    }
  }
  @media (max-width: 300px ){
    .a{
      height: 800px;
      margin: 0;
    }
    .q{
      width: 780px;
    }
    .p{
      margin: 0;
    }
    .header {
      width: 100%;
    }
  }